/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

/*
HOWTO This allows some component/app customization hooks.  We provide the admin
namespaced head and tail imports and the non-namespaced head and tail imports.
These are intended for the embedding app to provide style assignments and
overrides as necessary.  The implementation provided by the engine are empty
files.
*/
@import '../head';
@import 'head';

$blue: #2a6496;
$white: #dddddd;

div.banner {
  background-color: $blue;
  color: $white;
  padding-left: 1em;
}

div.metric {
  text-align: center;
  border: 1px solid darken($blue, 10%);
  margin: 20px;

  div.header {
    background-color: $blue;
    font-size: 125%;
    color: $white;
  }

  div.value {
    font-size: 300%;
    font-weight: bold;
  }
}

@import 'bootstrap';

@import '../tail';
@import 'tail';
