%h2 Statistics

%div.col-md-4
  %div.metric
    %div.header
      Movies
    %div.value
      = @movie_count

%div.col-md-4
  %div.metric
    %div.header
      Actors
    %div.value
      = @actor_count

%div.col-md-4
  %div.metric
    %div.header
      Castings
    %div.value
      = @casting_count
